<div ng-controller="designerCtrl">

    <div class="row">
        <h4>Designers </h4><hr/>


        <div ng-repeat="gal in gallery">
            <div class="large-3 columns ">
                <div class="th [radius] gallery-wrapper" ng-click="detailGallery()" >

                    <img src="img/designs/6.jpg" />


                </div>
            </div>
            <div class="large-3 columns">


                <div class="th [radius] 30 gallery-wrapper ng-click="detailGallery(">
                     <img src="img/designs/11.jpg" />


                </div>
            </div>
            <div class="large-3 columns">
                <div class="th [radius] gallery-wrapper ng-click="detailGallery(">

                     <img src="img/designs/8.jpg" />


                </div>
            </div>
            <div class="large-3 columns">
                <div class="th [radius] gallery-wrapper">

                    <img src="img/designs/9.jpg" />


                </div>
            </div>

        </div>



    </div>

    <div class="row">
        <div class="large-12 small-6 columns">
            <ul class="pagination ">
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
        </div>
    </div>

</div>