<div ng-controller="detailDesignCtrl">
    <div class="container" id="content-container">


        <div class="row">

            <!-- Side Bar -->

            <div class="large-4 small-12 columns ">

                <img src="img/designs/6.jpg">

                <div class="hide-for-small panel">
                    <h3>Putera Kahfi</h3><hr/>
                    Ilustrator, Layouter, Web Designer
                    <hr/>
                    <p class="subheader">Programmer yang nyambi jadi designer, sering di undang makan-makan untuk mengisi acara seputar web programming
                    </p> <hr/>



                    <ul class="inline-list center">
                        <li><a><span class="fa fa-facebook-square fa-2x"></span></a></li>
                        <li><a><span class="fa fa-twitter-square fa-2x"></span></a></li>
                        <li><a><span class="fa fa-pinterest-square fa-2x"></span></a></li>
                    </ul>
                </div>



            </div>

            <!-- End Side Bar -->


            <!-- Thumbnails -->

            <div class="large-8 columns">


                <div class="">
                    <nav class="breadcrumbs">
                        <a href="#">Beranda</a>
                        <a href="#">Designer</a>
                        <a class="current" href="#">Putera Kahfi</a>
                    </nav><br/>

                </div>


                <div class="row">

                    <div ng-repeat="t in gallery">
                        <div class="large-4 small-6 columns">
                            <img src="img/designs/8.jpg">

                            <div class="panel">
                                <h5>Banner Pengajian</h5>
                            </div>
                        </div>

                        <div class="large-4 small-6 columns">
                            <img src="img/designs/9.jpg">

                            <div class="panel">
                                <h5>Template Web</h5>
                            </div>
                        </div>

                        <div class="large-4 small-6 columns">
                            <img src="img/designs/6.jpg">

                            <div class="panel">
                                <h5>Poster Pengajian</h5>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="large-12 small-6 columns">
                            <ul class="pagination ">
                                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                                <li class="current"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li class="arrow"><a href="">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- End Thumbnails -->


                <!-- Managed By -->
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel">
                            <div class="row">

                                <div class="large-2 small-6 columns">
                                    <img src="http://placehold.it/300x300&text=Site Owner">
                                </div>

                                <div class="large-10 small-6 columns">
                                    <strong>This Site Is Managed By<hr/></strong>

                                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- End Managed By -->

                </div>

            </div>
        </div>
    </div>
</div>