
<div class="container" id="content-container">


    <div class="row">

        <!-- Side Bar -->

        <div class="large-4 small-12 columns ">

            <img src="img/designs/6.jpg">

            <div class="hide-for-small panel">
                <h3>Putera Kahfi</h3><hr/>
                Ilustrator, Layouter, Web Designer
                <hr/>
                <p class="subheader">Programmer yang nyambi jadi designer, sering di undang makan-makan untuk mengisi acara seputar web programming
                </p> <hr/>



                <ul class="inline-list center">
                    <li><a role="button" href="#" class="button small">Download</a></li>
                    <li><a role="button" href="#" class="button small">Share</a></li>
                </ul>
            </div>



        </div>

        <!-- End Side Bar -->


        <!-- Thumbnails -->

        <div class="large-8 columns">


            <div class="">
                <nav class="breadcrumbs">
                    <a href="#">Beranda</a>
                    <a href="#">Designer</a>
                    <a class="current" href="#">Putera Kahfi</a>
                </nav><br/>

            </div>



            <dl>
                <dt>Definition Title</dt>
                <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
            </dl>


        </div>
    </div>
</div>

